# **Web Scraping**

## Objectives

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

Download the webpage at the url

In [3]:
data = requests.get(url).text

Create a soup object

In [4]:
soup = BeautifulSoup(data,"html.parser")

find all html tables in the web page

In [14]:
tables = soup.find_all('table')
len(tables)

1

Scrape the `Language name` and `annual average salary`.

In [8]:
data = pd.DataFrame(columns=["Language name", "annual average salary"])

for row in tables[0].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        lang = col[1].text
        salary = col[3].text
        data = data.append({"Language name":lang, "annual average salary":salary}, ignore_index=True)
data

   Language name  annual average salary
0       Language  Average Annual Salary
1         Python               $114,383
2           Java               $101,013
3              R                $92,037
4     Javascript               $110,981
5          Swift               $130,801
6            C++               $113,865
7             C#                $88,726
8            PHP                $84,727
9            SQL                $84,793
10            Go                $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [10]:
data.to_csv("popular-languages.csv")

In [13]:
path = os.path.join(os.getcwd(),"popular-languages.csv")